:root{
    scroll-behavior: smooth;
}

*{
    margin: 0px;
    padding: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#cuadro{
    background-color: blueviolet;
    border: 2px solid purple;
    border-radius: 25px;
    align-items: center;
    width: 100%;
    color: white;
    padding: 2%;
}

header{
    width: 100%;
    text-align: center;
}

header h1{
    font-size: 4vw;
}

body{
    text-align: center;
    background-color: gray;
    margin: 2% 25%;
}

#pista{
    font-size: 2vw;
    margin: 7% 0%;
}

#btnGenerar{
    background-color: gray;
    border: 2px solid purple;
    border-radius: 10px;
    padding: 1%;
    margin: 2%;
    width: 50%;
    font-weight: bold;
    color: white;
}

#btnVerificar{
    background-color: gray;
    border: 2px solid purple;
    border-radius: 25px;
    padding: 1%;
    margin: 2%;
    font-weight: bold;
    color: white;
}

#btnVerificar:hover{
    background-color: transparent;
    color: black;
}